*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* background-color: #f0eef1; */
    background-color: black;
}

h2{
    /* color: #007fff; */
}

label{
    color: #007fff;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 2px #444;
    padding: 1.5rem;
    /* background-color: #fff; */
    background-color: #007fff;
}

.main{
    display: flex;
}

.todo-section{

    background-color: #003459;
    flex: 1;
    padding: 48px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: center; */
}

.sidebar {
    padding: 12px;
    border-right:solid 2px #444;
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: #f5fafa;
  
}

.top{
    display: flex;
    gap: 12px;
}


.newProject{
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #444;
    text-align: center;
    display: inline-block;
    /* vertical-align: middle; */
    position: relative;
    z-index: 10;
    color: #333;
}

button:hover{
    cursor: pointer;
    background-color: #333;
    color: #fff;
    transition: 0.4s ease;
}

.submitButton{

        background-color: #4f5165;
        border-radius: 10px;
        padding: 10px 20px;
        outline: 1px dotted black;

}

.newProjectForm{
    display: none;
    flex-direction: column;
    border: solid 2px #444; 
    border-radius: 20%;
    padding: 24px;
    gap: 8px;
}

label, input{
    display: block;
}

.show{
    display: flex;
}

.hide{
    display: none;
}

.hiding{
    display: none;
}

input{
    color: black;
}

p{
    /* border: solid 2px red; */
    margin-top: 12px;
    font-size: 24px;
    cursor: pointer;
    padding: 8px;
}

.projectHeader {
    color: #f5fafa;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
}

.task{
    /* width: 300px; */
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: #94969d50 0 5px 20px;
}
/* modal stuff */
.modal {
   margin: 0 auto ;
    background-color: rgba(0, 0, 0, .3);
    /* z-index: 999; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    max-width: 30%;
  }
  
  /* .modal  */
  form {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    color: #fff;

  }
  
  .hide {
    display: none;
  }


  .newTaskBtn{
    
    background-color: #007fff;

    padding: 10px 20px;
        /* border: none; */
        font: inherit;
        color: #fff;
        /* background-color: transparent; */
        cursor: pointer;

  }

  #myform{
display: flex;
flex-direction: column;
  }

  .target{
    display: none;
  }

  .todo-header{
    display: flex;
  }